@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Inter', sans-serif;
  background-color: #010048 ;
  color:white
}
@layer components {

/* responsive text  */
.text-res-xs {
  @apply text-[14px] xl:text-xs
 }
 .text-res-ls {
  @apply text-xs xl:text-ls
 }
 .text-res-normal {
  @apply text-[20px] xl:text-normal
 }
 .text-res-base {
  @apply text-[30px] xl:text-base
 }
 .text-res-lg {
  @apply text-[28px] xl:text-lg
 }
 .text-res-xl {
  @apply text-[40px] xl:text-xl
 }

 /* responsive spacing */
 .mt-res-lg{
   @apply mt-md xl:mt-lg
 }
 .mt-res-xl{
   @apply mt-lg xl:mt-xl
 }

}