@tailwind base;
@tailwind components;
@tailwind utilities;

body{  
  color: #1D3944;
  /*
  font-family: 'Bebas Neue', cursive;
  font-family: 'Josefin Sans', sans-serif;
   */
  font-family: 'Open Sans', sans-serif;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
@layer components {

/* responsive text  */
.text-res-xxs {
  @apply text-[12px] xl:text-xxs
 }
.text-res-xs {
  @apply text-xxs xl:text-xs
 }
 .text-res-ls {
  @apply text-xs xl:text-ls
 }
 .text-res-sm {
  @apply text-xs xl:text-sm
  
 }
 .text-res-normal {
  @apply text-[18px] xl:text-normal
 }
 .text-res-base {
  @apply text-[30px] xl:text-base
 }
 .text-res-lg {
  @apply text-[30px] xl:text-lg
 }
 .text-res-xl {
  @apply text-[40px] xl:text-xl
 }

 /* responsive spacing */
 /* lg */
 .mt-res-lg{
   @apply mt-md xl:mt-lg
 }
 /* xl */
 .mt-res-xl{
   @apply mt-lg xl:mt-xl
 }
 .mb-res-xl{
   @apply mb-lg xl:mb-xl
 }
 .my-res-xl{
  @apply mt-res-xl mb-res-xl
 }
 .pt-res-xl{
   @apply pt-lg xl:pt-xl
 }
 .pb-res-xl{
   @apply pb-lg xl:pb-xl
 }
 .py-res-xl{
  @apply pt-res-xl pb-res-xl
 }
 /* extra font */
 .font-josefin{
  font-family: 'Josefin Sans', sans-serif;
 }

 /* main css */
 .main-heading{
  @apply text-res-lg
 }
 .built-shadow{
  box-shadow: 0px 8px 34px rgba(200, 201, 201, 0.5);
 } 

 .banner-heading{
  /* font-family: 'Bebas Neue', cursive; */
  background: linear-gradient(90deg, #AB00FF 0%, #6200FF 100%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
 }

 .selection-input{
  background: #FFFFFF;
border-width: 2px 2px 2px 0px;
border-style: solid;
border-color: #F2F5F9;
box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
 }
.proceed-button{
  background: linear-gradient(101.12deg, #AB00FF 8.65%, #6200FF 93.39%, #6200FF 93.39%);
box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
border-radius: 14px;
}
.banner-form{
  box-shadow: 0px 3px 14px 2px rgba(186, 131, 255, 0.3);
}

.phone-menu-wrap:hover .phone-menu{
  display: flex;
  
}
.nav-button{
  @apply pt-[6px] md:pt-[12px]  pb-[4px] md:pb-[10px] pr-[10px] md:pr-[35px] pl-[10px] md:pl-[34px] text-res-xxs rounded-[4px] md:rounded-[8px] font-bold
}
.battle-info-top{
  @apply flex items-center gap-[10px] justify-center
}
.battle-info-top img{
  @apply w-[19px] md:w-[29px]
}
.battle-info-top p{
@apply font-bold text-xs md:text-[30px]
}
.battle-text{
  @apply text-[12px] md:text-sm mt-[10px] md:mt-[15px]
}
.footer-content-wrap{
  @apply xl:flex justify-end
}
.footer-content-wrap div{
  @apply flex flex-col justify-start items-start
}
.footer-content-wrap h2{
  @apply text-[15px] leading-[25px] text-[#7A7F8D] mb-[18px] text-end

}
.footer-content-wrap ul {
  @apply flex flex-col gap-[18px] text-[15px] leading-[25px]
}
}